@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

        <div id="home" class="container tab-pane active">
            <div class="row about-box">
                <h3 class="text-center">會員資料管理</h3>
                <p>
                    AntenaGames is small indie game studio based in Croatia. Founded in 2020,
                    on a mission to make beautiful, fun and popular mobile games. The first game released
                    was BallBoy, which belongs to franchise also called BallBoy, with game titles such as
                    "BallBoy", "BallBoy Plus" and "BallBoy (...)". Building strong and loyal community with
                    happy players that will come back to play our games is something that we really enjoy
                    doing. AntenaGames is small indie game studio based in Croatia. Founded in 2020,
                    on a mission to make beautiful, fun and popular mobile games. The first game released
                    was BallBoy, which belongs to franchise also called BallBoy, with game titles such as
                    "BallBoy", "BallBoy Plus" and "BallBoy (...)". Building strong and loyal community with
                    happy players that will come back to play our games is something that we really enjoy
                    doing. AntenaGames is small indie game studio based in Croatia. Founded in 2020,
                    on a mission to make beautiful, fun and popular mobile games. The first game released
                    was BallBoy, which belongs to franchise also called BallBoy, with game titles such as
                    "BallBoy", "BallBoy Plus" and "BallBoy (...)". Building strong and loyal community with
                    happy players that will come back to play our games is something that we really enjoy
                    doing. AntenaGames is small indie game studio based in Croatia. Founded in 2020,
                    on a mission to make beautiful, fun and popular mobile games. The first game released
                    was BallBoy, which belongs to franchise also called BallBoy, with game titles such as
                    "BallBoy", "BallBoy Plus" and "BallBoy (...)". Building strong and loyal community with
                    happy players that will come back to play our games is something that we really enjoy
                    doing. AntenaGames is small indie game studio based in Croatia. Founded in 2020,
                    on a mission to make beautiful, fun and popular mobile games. The first game released
                    was BallBoy, which belongs to franchise also called BallBoy, with game titles such as
                    "BallBoy", "BallBoy Plus" and "BallBoy (...)". Building strong and loyal community with
                    happy players that will come back to play our games is something that we really enjoy
                    doing. AntenaGames is small indie game studio based in Croatia. Founded in 2020,
                    on a mission to make beautiful, fun and popular mobile games. The first game released
                    was BallBoy, which belongs to franchise also called BallBoy, with game titles such as
                    "BallBoy", "BallBoy Plus" and "BallBoy (...)". Building strong and loyal community with
                    happy players that will come back to play our games is something that we really enjoy
                    doing.
                </p>
                <p>
                    Founder & CEO<br />
                    A.K.
                </p>
            </div>
        </div>
