@model IEnumerable<MSITTeam1.ViewModels.CCompanyBasicViewModel>

@{
    ViewData["Title"] = "Index";
}

@*<h1>Index</h1>*@
@foreach (var item in Model)
{
    <div>
        <div class="container">
            <div class="row">
                <div class="col-12">@item.FName</div>
            </div>
            <div class="row">
                <h2 class="col-4">公司簡介</h2>
                <h2 class="col-4">福利制度</h2>
                <h2 class="col-4">工作機會</h2>
            </div>
        </div>
    </div>
    <div>
        <h1>公司介紹</h1>
        <div class="row">
            <div class="col-6">
                <div>員工人數：@item.FCapitalAmount</div>
                <div>公司網站：</div>
                <div>相關連結：</div>
            </div>
            <div class="col-6">
                <div>聯絡人：@item.FContactPerson</div>
                <div>電話：@item.FPhoneCode@item.FPhone</div>
                <div>傳真：@item.FFaxCode@item.FFax</div>
                <div class="">地址：@item.FCity@item.FDistrict@item.FAddress</div>
            </div>
        </div>
        <hr />
        <div>@item.FCustomInfo</div>
    </div>
    <div>
        <h1>公司福利</h1>
        <div>@item.FBenefits</div>
    </div>
    <div>
        <h1>公司照片</h1>
        <div></div>
    </div>
}
