
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">

<div class="resumebar">
    <div class="pagination-container full-width-container">
        <div class="sized-container">
            <div class="pagination"></div>
        </div>
    </div>
    <div class="viewport full-width-container">
        <ul class="slide-container">
            <li class="slide" data-tag="基本資料">
                <div class="sized-container">
                    <h1>Lets start with some basics.</h1>
                    <h2>Information about this section.</h2>
                </div>
            </li>
            <li class="slide" data-tag="經歷">
                <div class="sized-container">
                    <h1>Tell us about your area of expertise.</h1>
                    <h2>Information about this section.</h2>
                </div>
            </li>
            <li class="slide" data-tag="學歷">
                <div class="sized-container">
                    <h1>Lets get a little more in depth.</h1>
                    <h2>Information about this section.</h2>
                </div>
            </li>
            <li class="slide" data-tag="語言">
                <div class="sized-container">
                    <h1>Tell us about where you've worked before.</h1>
                    <h2>Information about this section.</h2>
                </div>
            </li>
            <li class="slide" data-tag="技能">
                <div class="sized-container">
                    <h1>Describe your formal education.</h1>
                    <h2>Information about this section.</h2>
                </div>
            </li>
            <li class="slide" data-tag="作品">
                <div class="sized-container">
                    <h1>Mention any additional comments.</h1>
                    <h2>Information about this section.</h2>
                </div>
            </li>
            <li class="slide" data-tag="確認">
                <div class="sized-container">
                    <h1>Confirm your application.</h1>
                    <h2>Information about this section.</h2>
                </div>
            </li>
        </ul>
    </div>
    <div class="full-width-container mb-3">
        <div class="button-container sized-container">
            <button class="next">next</button>
            <button class="previous">previous</button>
        </div>
    </div>
</div>






