
<link href="~/css/Resumebar.css" rel="stylesheet">

<div class="pagination-container full-width-container">
    <div class="sized-container">
        <div class="pagination"></div>
    </div>
</div>
<div class="viewport full-width-container">
    <ul class="slide-container">
        <li class="slide" data-tag="Basic Info">
            <div class="sized-container">
                <h1>Lets start with some basics.</h1>
                <h2>Information about this section.</h2>
            </div>
        </li>
        <li class="slide" data-tag="Expertise">
            <div class="sized-container">
                <h1>Tell us about your area of expertise.</h1>
                <h2>Information about this section.</h2>
            </div>
        </li>
        <li class="slide" data-tag="About Me">
            <div class="sized-container">
                <h1>Lets get a little more in depth.</h1>
                <h2>Information about this section.</h2>
            </div>
        </li>
        <li class="slide" data-tag="Experience">
            <div class="sized-container">
                <h1>Tell us about where you've worked before.</h1>
                <h2>Information about this section.</h2>
            </div>
        </li>
        <li class="slide" data-tag="Education">
            <div class="sized-container">
                <h1>Describe your formal education.</h1>
                <h2>Information about this section.</h2>
            </div>
        </li>
        <li class="slide" data-tag="Additional">
            <div class="sized-container">
                <h1>Mention any additional comments.</h1>
                <h2>Information about this section.</h2>
            </div>
        </li>
        <li class="slide" data-tag="Confirm">
            <div class="sized-container">
                <h1>Confirm your application.</h1>
                <h2>Information about this section.</h2>
            </div>
            </div>
        </li>
    </ul>
</div>
<div class="full-width-container">
    <div class="button-container sized-container">
        <button class="next">next</button>
        <button class="previous">previous</button>
    </div>
</div>



