<!DOCTYPE html>
<html lang="en">
<head>
    @{
        string date = DateTime.Now.ToString("MMdd");
    }
    <meta charset="utf-8">
    <title>About</title>
    <!-- Stylesheets -->
    <link href="~/css/bootstrap.css?@date" rel="stylesheet">
    <link href="~/css/style.css?@date" rel="stylesheet">
    <link href="~/css/responsive.css?@date" rel="stylesheet">

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

        <!-- Preloader -->
        <div class="preloader"></div>

            <!-- Sticky Header  -->
            <div class="sticky-header">
                <div class="auto-container clearfix">
                    <!--Logo-->
                    <div class="logo pull-left">
                        <a href="index.html" title=""><img src="~/images/logo.png" alt="" title=""></a>
                    </div>
                    <!--Right Col-->
                    <div class="pull-right">
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <div class="navbar-collapse show collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </div>
                        </nav><!-- Main Menu End-->
                    </div>
                </div>
            </div>
        <!-- End Sticky Menu -->

        <!-- End Main Header -->
        <!--Page Title-->
        <section class="page-title" style="background-image: url(~/images/AboutUs/Members.jpg);">
            <img src="~/images/AboutUs/Members.jpg" />
            <div class="auto-container">
                <div class="inner-container clearfix">
                    <ul class="bread-crumb clearfix">
                        <li><a href="index.html">Home</a></li>
                        <li>Pages</li>
                        <li>About</li>
                    </ul>
                    <h1>About</h1>
                </div>
            </div>
        </section>
        <!--End Page Title-->
        <!-- About Section Three-->
        <section class="about-section-three">
            <div class="auto-container">
                <div class="upper-box">
                    <div class="row">
                        <div class="image-column col-lg-6 col-md-12 col-sm-12 wow fadeInLeft">
                            <figure class="image"><img src="~/images/resource/about-img-3.jpg" alt=""></figure>
                        </div>
                        <div class="image-column col-lg-6 col-md-12 col-sm-12 wow fadeInRight">
                            <figure class="image"><img src="~/images/resource/about-img-4.jpg" alt=""></figure>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="title-column col-lg-4 col-md-6 col-sm-12">
                        <div class="sec-title">
                            <span class="title">About Us</span>
                            <h2>Since 2002 the best baby care & kindergarten in your town</h2>
                        </div>
                    </div>
                    <div class="skill-column col-lg-4 col-md-6 col-sm-12">
                        <!--Skills-->
                        <div class="skills">
                            <!--Skill Item-->
                            <div class="skill-item">
                                <div class="skill-header clearfix">
                                    <div class="skill-title">Education</div>
                                    <div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="3000" data-stop="98">0</span>%</div></div>
                                </div>
                                <div class="skill-bar">
                                    <div class="bar-inner"><div class="bar progress-line" data-width="98"></div></div>
                                </div>
                            </div>
                            <!--Skill Item-->
                            <div class="skill-item">
                                <div class="skill-header clearfix">
                                    <div class="skill-title">Grooming</div>
                                    <div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="3000" data-stop="88">0</span>%</div></div>
                                </div>
                                <div class="skill-bar">
                                    <div class="bar-inner"><div class="bar progress-line" data-width="88"></div></div>
                                </div>
                            </div>
                            <!--Skill Item-->
                            <div class="skill-item">
                                <div class="skill-header clearfix">
                                    <div class="skill-title">Music & Fun</div>
                                    <div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="3000" data-stop="78">0</span>%</div></div>
                                </div>
                                <div class="skill-bar">
                                    <div class="bar-inner"><div class="bar progress-line" data-width="78"></div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-column col-lg-4 col-md-12 col-sm-12">
                        <div class="text">There are many variations of passages of lorem ipsum available, but the majority have suffered alteration in some form by injected humour or randomised words which don't look even slightly believable need to be sure there isn't anything embarrassing hidden in the middle of text. All the lorem ipsum generators on the Internet.</div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Section Three -->
       
        <!-- Team Section -->
        <section class="team-section">
            <div class="auto-container">
                <div class="sec-title text-center">
                    <div class="title">Expert People</div>
                    <h2>Our Teachers</h2>
                </div>

                <div class="row">
                    <!-- Team Block -->
                    <div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><img src="~/images/AboutUs/1.png" alt=""></figure>
                                <div class="overlay-box">
                                    <ul class="social-icon-colored">
                                        <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="caption-box">
                                <h6 class="name"><a href="#">Jesscia Brown</a></h6>
                                <span class="designation">Teacher</span>
                            </div>
                        </div>
                    </div>

                    <!-- Team Block -->
                    <div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><img src="~/images/AboutUs/2.png" alt=""></figure>
                                <div class="overlay-box">
                                    <ul class="social-icon-colored">
                                        <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="caption-box">
                                <h6 class="name"><a href="#">Sarah Albert</a></h6>
                                <span class="designation">Teacher</span>
                            </div>
                        </div>
                    </div>

                    <!-- Team Block -->
                    <div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><img src="~/images/AboutUs/3.png" alt=""></figure>
                                <div class="overlay-box">
                                    <ul class="social-icon-colored">
                                        <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="caption-box">
                                <h6 class="name"><a href="#">Christine Eve</a></h6>
                                <span class="designation">Teacher</span>
                            </div>
                        </div>
                    </div>

                    <!-- Team Block -->
                    <div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="1200ms">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><img src="~/images/AboutUs/1.png" alt=""></figure>
                                <div class="overlay-box">
                                    <ul class="social-icon-colored">
                                        <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="caption-box">
                                <h6 class="name"><a href="#">Susan Hardson</a></h6>
                                <span class="designation">Teacher</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Team Section -->

    <!--Search Popup-->
    <div id="search-popup" class="search-popup">
        <div class="close-search theme-btn"><span class="fa fa-times"></span></div>
        <div class="popup-inner">
            <div class="overlay-layer"></div>
            <div class="search-form">
                <form method="post" action="index.html">
                    <div class="form-group">
                        <fieldset>
                            <input type="search" class="form-control" name="search-input" value="" placeholder="Search Here" required>
                            <input type="submit" value="Search Now!" class="theme-btn">
                        </fieldset>
                    </div>
                </form>

                <br>
                <h3>Recent Search Keywords</h3>
                <ul class="recent-searches">
                    <li><a href="#">Business</a></li>
                    <li><a href="#">Web Development</a></li>
                    <li><a href="#">SEO</a></li>
                    <li><a href="#">Logistics</a></li>
                    <li><a href="#">Freedom</a></li>
                </ul>

            </div>

        </div>
    </div>

    <script src="~/js/jquery.js?@date"></script>
    <script src="~/js/popper.min.js?@date"></script>
    <script src="~/js/bootstrap.min.js?@date"></script>
    <script src="~/js/jquery-ui.js?@date"></script>
    <script src="~/js/jquery.fancybox.js?@date"></script>
    <script src="~/js/owl.js?@date"></script>
    <script src="~/js/wow.js?@date"></script>
    <script src="~/js/appear.js?@date"></script>
    <script src="~/js/parallax.min.js?@date"></script>
    <script src="~/js/script.js?@date"></script>
</body>
</html>
