@model MSITTeam1.ViewModels.CCompanyBasicViewModel


<div class="row">
    <div class="col-12">
        <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="CompanyTaxid" id="FAccount" />
            <div class="form-group">
                <label asp-for="FName" class="control-label"></label>
                <input id="FName" asp-for="FName" class="form-control" />
                <span asp-validation-for="FName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FPhone" class="control-label"></label>
                <input id="FPhoneCode" asp-for="FPhoneCode" class="form-control" type="text" />
                <input id="FPhone" asp-for="FPhone" class="form-control" type="text" />
                <span asp-validation-for="FPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FFax" class="control-label"></label>
                <input id="FFaxCode" asp-for="FFaxCode" class="form-control" type="text" />
                <input id="FFax" asp-for="FFax" class="form-control" type="text" />
                <span asp-validation-for="FFax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FContactPerson" class="control-label"></label>
                <input id="FContactPerson" asp-for="FContactPerson" class="form-control" />
                <span asp-validation-for="FContactPerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="FCity" class="control-label"></label>
                <input id="FCity" asp-for="FCity" class="form-control" />
                <span asp-validation-for="FCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FDistrict" class="control-label"></label>
                <input id="FDistrict" asp-for="FDistrict" class="form-control" />
                <span asp-validation-for="FDistrict" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FAddress" class="control-label"></label>
                <input id="FAddress" asp-for="FAddress" class="form-control" />
                <span asp-validation-for="FAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FEmail" class="control-label"></label>
                <input id="FEmail" asp-for="FEmail" class="form-control" />
                <span asp-validation-for="FEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FBenefits" class="control-label"></label>
                <textarea id="FBenefits" asp-for="FBenefits" class="form-control" style="overflow-y:scroll;resize:none"></textarea>
                <span asp-validation-for="FBenefits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FCustomInfo" class="control-label"></label>
                <textarea id="FCustomInfo" asp-for="FCustomInfo" class="form-control" style="overflow-y:scroll;resize:none"></textarea>
                <span asp-validation-for="FCustomInfo" class="text-danger"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉視窗</button>
                <button id="savechanges" type="button" class="btn btn-primary" @*data-dismiss="modal"*@>儲存變更</button>
            </div>
        </form>
    </div>
</div>

