
@{
    ViewData["Title"] = "ForgetPWD";
}
<link href="~/css/login.css" rel="stylesheet">

<div class="background">
    <div class="container-fulid px-3 px-md-0">
        <div class="login-wrap my-5">
            <div class="login-html">
                <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">忘記密碼</label>
                <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">忘記帳號</label>
                <div class="login-form">
                    <div class="sign-in-htm">
                        <div class="group">
                            <label for="user" class="label">帳號</label>
                            <input id="LAccount" type="text" class="input" name="txtAccount" required>
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Email</label>
                            <input id="LPassword" type="password" class="input" data-type="password" name="txtPassword" required>
                        </div>
                        <div class="group my-4">
                            <button id="loginbtn" class="button">發送驗證信</button>
                        </div>
                    </div>
                    <div class="sign-up-htm">
                        <div class="group">
                            <label for="user" class="label">姓名</label>
                            <input id="RAccount" type="text" class="input" name="txtAccount" required>
                        </div>
                        <div class="group">
                            <label for="pass" class="label">身分證字號</label>
                            <input id="RPassword" name="txtPassword" type="password" class="input" data-type="password" required>
                        </div>
                        <div class="group mt-1">
                            <button id="registerbtn" class="button">發送驗證信</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{ 
    <script>
        var VuePage = new Vue(
         {
                el: '#VuePage',
                data: function (){var data = {form: {}};
                return data;
         },methods:
         {
                // 前端驗證權杖
                    GetToken: function ()
                    {
                    var token = '@Html.AntiForgeryToken()';
                    token = $(token).val();
                    return token;
                    }
                // 寄送驗證碼
                , SendMailToken: function () {
                    var self = this;

                    // 組合表單資料
                    var postData = {};
                    postData['UserID'] = self.form.UserID;

                    // 使用 jQuery Ajax 傳送至後端
                    $.ajax({
                        url:'@Url.Action("SendMailToken", "Member")',
                        method:'POST',
                        dataType:'json',
                        data: { inModel: postData, __RequestVerificationToken: self.GetToken() },
                        success: function (datas) {
                            if (datas.ErrMsg) {
                                alert(datas.ErrMsg);
                                return;
                            }
                            alert(datas.ResultMsg);
                        },
                        error: function (err) {
                            $('#ErrorMsg').html(err.responseText);
                            $('#ErrorAlert').modal('toggle');
                        }
                    });
                }
            }
        })
    </script>
}