
@{
    ViewData["Title"] = "Index";
}

<link href="~/css/login.css" rel="stylesheet">
<div class="background">
    <div class="container-fulid px-3 px-md-0">
        <div class="login-wrap my-5">
            <div class="login-html">
                <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">會員登入</label>
                <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">註冊會員</label>
                <div class="login-form">
                    <div class="sign-in-htm">
                        <div class="group">
                            <label for="user" class="label">帳號</label>
                            <input id="user" type="text" class="input">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">密碼</label>
                            <input id="pass" type="password" class="input" data-type="password">
                        </div>

                        <div class="group my-4">
                            <input type="submit" class="button" value="登入">
                        </div>
                        <div class="group text-center">
                            <a class="color-orange h5" href="#forgot">忘記密碼</a>
                        </div>

                    </div>
                    <div class="sign-up-htm">
                        <div class="group">
                            <label for="user" class="label">帳號</label>
                            <input id="user" type="text" class="input">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">密碼</label>
                            <input id="pass" type="password" class="input" data-type="password">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">再次輸入密碼</label>
                            <input id="pass" type="password" class="input" data-type="password">
                        </div>
                        <div class="group mt-4">
                            <input type="submit" class="button" value="註冊">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
