
<div class="row">
    <div class="col-lg-6">
        <span class="input-group-btn ">
            <button class="btn-group-right btn-primary"><img src="~/images/icons/search.png" /></button>
        </span>
        <input type="text" placeholder="Java、C#、大數據" name="search" class="form-control" />

    </div>
</div>
    
        

