@model IEnumerable<MSITTeam1.ViewModels.CJobVacancyViewModel>
@addTagHelper *, MSITTeam1
@{
    ViewData["Title"] = "Index";
}

<style>
    .job-card {
        border: lightgray solid 1px;
        border-left: 5px #ed731a solid;
    }

    .joblistbtn {
        border: 0;
        padding: 0px 5px;
        background-color: #1e3c84;
        color: #FFFFFF;
        text-transform: capitalize;
        font-size: 18px;
        line-height: 22px;
        width: 50px;
        height: 50px;
        margin-right: 3px;
        text-align: center;
        line-height: 50px;
    }

        .joblistbtn:hover {
            background: #FFFFFF;
            color: #1e3c84;
        }

    .jobvacancyflip {
        margin: 0px;
        padding: 5px;
        text-align: center;
        background: #e09697;
        cursor: pointer;
        font-family: "Arial";
    }

    .jobvacancypanel {
        margin: 0px;
        padding: 5px;
        text-align: center;
        background: #e5eecc;
        border: solid 1px #c3c3c3;
        display: none;
        font-family: "Arial";
    }
</style>
<div>
    <div class="form-group row justify-content-center py-4">
        <div class="col-md-10">
            <div class="input-group input-group-rounded">
                <input type="text" placeholder="請輸入關鍵字" name="txtKeyword" class="form-control">
                <span class="input-group-btn" style="position:relative"><button class="btn bg-blue btn-group-right" type="submit"><i class="fas fa-search text-light"></i></button></span>
            </div>
        </div>
    </div>
</div>

<div class="jobvacancyflip">
    <span>新增職缺</span>
</div>
<div class="jobvacancypanel">
    職缺名稱：<input type="text" id="FJobName" />
    薪資：  <select>
        <option>時薪</option>
        <option>月薪</option>
    </select>
    <input type="text" id="FSalary" />
    工作地址：<vc:selector city="" district=""></vc:selector>
    <input type="text" id="FWorkAddress" />
    工作時數：<input type="text" id="FWorkHours" />
    <input type="text" id="FLeaveSystem" />
    <input type="text" id="FJobSkill" />
    <input type="text" id="FEducation" />
    <input type="text" id="FNeedPerson" />
    <input type="text" id="FContactPerson" />
    <input type="text" id="FContactPhone" />
    <input type="text" id="FContactFax" />
    <input type="text" id="FContactEmail" />
    <input type="text" id="FOther" />
</div>
@foreach (var item in Model)
{
    <div class="job-card mb-4" id="quesCard">
        <input type="hidden" value="@Html.DisplayFor(modelItem => item.FCompanyTaxid)" />
        <div class="tab-content">
            <div class="tab-pane active" id="home2" role="tabpanel">
                <div class="p-10">
                    <h5 class="font-weight-bold">
                        @Html.DisplayFor(modelItem => item.FJobName)
                    </h5>
                    <hr />
                </div>
                <div class="row mb-2">
                    <div class="col-md-7 col-lg-8" style="line-height:2rem">
                        <div>薪資：@item.FSalaryMode@item.FSalaryMin</div>
                        <div>工作地址：@item.FCity@item.FDistrict@item.FWorkAddress</div>
                        <div>工作時數：@item.FWorkHours</div>
                        <div>排休制度：@item.FLeaveSystem</div>
                        <div>需求技能：@item.FJobSkill</div>
                        <div>需求學歷：@item.FEducation</div>
                        <div>需求人數：@item.FNeedPerson</div>
                    </div>
                    <div class="col-md-5 col-lg-4" style="line-height:2rem">
                        <div>聯繫人：@item.FContactPerson</div>
                        <div>聯繫人：@item.FContactPhone</div>
                        <div>聯繫人：@item.FContactFax</div>
                        <div>聯繫人：@item.FContactEmail</div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        <div>備註：@item.FOther</div>
                    </div>
                </div>
                <div id="editBlock" class="row justify-content-center justify-content-md-end mx-0">
                    <button class="fas fa-pencil-alt fa-2x joblistbtn" value="@item.FJobName" data-toggle="modal" data-target="#JobVacancy-Edit-Modal"></button>
                    <button class="fas fa-trash-alt fa-2x joblistbtn" id="JobVacancy-Delete-Btn"></button>
                    @*@Html.ActionLink("", "Edit", new { CompanyTaxID = item.FCompanyTaxid, JobName = item.FJobName }, new { @class = "fas fa-pencil-alt fa-2x joblistbtn" })
                        @Html.ActionLink("", "Delete", new { /* id=item.PrimaryKey */ }, new { @class = "fas fa-trash-alt fa-2x joblistbtn" })*@
                </div>
            </div>
        </div>
    </div>
}
<!-- Modal -->
<div class="modal fade" id="JobVacancy-Edit-Modal" tabindex="-1" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">修改資料</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $(".jobvacancyflip").click(function () {
            $(".jobvacancypanel").slideToggle("fast");
        });
    });
</script>

