@section Style{
<link rel="stylesheet" type="text/css" href="/css/result-light.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.css">
<style>


    .gu-mirror {
        filter: alpha(opacity=80);
        transform: skewX(-5deg) skewY(5deg);
    }

    .kanban-card {
        cursor: pointer;
    }

    body {
        margin: 10px;
    }
</style>
}




<div id="kanban" class="row">
    <div class="col-8">
        <div class="panel panel-info">
            <div class="panel-heading kanban-card">
                <h3 class="panel-title">產生履歷</h3>
            </div>
            <div class="panel-body">
                <div id="todo">
                    &nbsp;

                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="panel panel-info">
            <div class="panel-heading kanban-card">
                <h3 class="panel-title">資料</h3>
            </div>
            <div class="panel-body">
                <div id="done">
                    &nbsp;
                    <div class="alert alert-success kanban-card" role="alert">Card1</div>
                    <div class="alert alert-success kanban-card" role="alert">Card2</div>
                    <div class="alert alert-success kanban-card" role="alert">Card3</div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js"></script>
<script>
        var dragulaCards = dragula([
      document.querySelector('#todo'),
      document.querySelector('#in-progress'),
      document.querySelector('#done')
    ]);

    dragulaCards.on('drop', function(el, target, source, sibling){
        console.log(source); // from
      console.log(target); // to
      console.log(sibling); // next card
    });

    var dragulaKanban = dragula([
      document.querySelector('#kanban')
    ], {
      moves: function(el, container, handle) {
        return handle.classList.contains('panel-title');
      }
    });

</script>
}


