@model IEnumerable<MSITTeam1.ViewModels.CTestPaperViewModel>
@{
    ViewData["Title"] = "Index";
}
    <div id="div1">
        <h1>Index</h1>
    </div>
    <button class="btn-style-two mt-3" type="button" id="button1">下一題</button>
    <form name="member" method="post">
        <input type="text" class="form-control" id="Grade" name="Grade" value="80">
    </form>

    <script>
    const btn = document.querySelector("#button1");
    const divAlert = document.querySelector("#div1");


    btn.addEventListener('click', (evt) => {
            evt.preventDefault();
        const formData = new FormData(document.member);

        fetch('@Url.Action("Topic","SkillGrade")', {
            method: 'POST',
            body: formData
        }).then(Response => Response.json())
            .then(function (j) {
                //j[0].fQuestion;
                for (var row in j) {
                    console.log(j[row].fChoice);
                    }
            });
        })

    </script>



