@model MSITTeam1.ViewModels.CCompanyBasicViewModel

@{
    ViewData["Title"] = "CompanyInformationEdit";
    Layout = null;
}

<h1>基本資料新增</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CompanyInformationEdit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="CompanyTaxid" type="hidden" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">公司Logo</label>
                <input asp-for="FLogo" type="file" accept=".png, .jpg, .jpeg" class="form-control" />
                <img src="~/UploadImage/Default.png" width="125" height="125" />
                <span asp-validation-for="FLogo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FName" class="control-label"></label>
                <input asp-for="FName" class="form-control" required/>
                <span asp-validation-for="FName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FEmail" class="control-label"></label>
                <input asp-for="FEmail" class="form-control" required/>
                <span asp-validation-for="FEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FCapitalAmount" class="control-label"></label>
                <input asp-for="FCapitalAmount" class="form-control" />
                <span asp-validation-for="FCapitalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FPhone" class="control-label"></label>
                <input asp-for="FPhoneCode" class="form-control" required/>
                <input asp-for="FPhone" class="form-control" required/>
                <span asp-validation-for="FPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FFax" class="control-label"></label>
                <input asp-for="FFaxCode" class="form-control" required/>
                <input asp-for="FFax" class="form-control" required/>
                <span asp-validation-for="FFax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FContactPerson" class="control-label"></label>
                <input asp-for="FContactPerson" class="form-control" required/>
                <span asp-validation-for="FContactPerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FCity" class="control-label"></label>
                <input asp-for="FCity" class="form-control" required/>
                <span asp-validation-for="FCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FDistrict" class="control-label"></label>
                <input asp-for="FDistrict" class="form-control" />
                <select asp-for="FDistrict" id="district"></select>
                <span asp-validation-for="FDistrict" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FAddress" class="control-label"></label>
                <input asp-for="FAddress" class="form-control" />
                <span asp-validation-for="FAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FDistrictCode" class="control-label"></label>
                <input asp-for="FDistrictCode" class="form-control" required/>
                <span asp-validation-for="FDistrictCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FBenefits" class="control-label"></label>
                <textarea asp-for="FBenefits" class="form-control"></textarea>
                <span asp-validation-for="FBenefits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FCustomInfo" class="control-label"></label>
                <textarea asp-for="FCustomInfo" class="form-control"></textarea>
                <span asp-validation-for="FCustomInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="儲存" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    const district = document.getElementById("district");
</script>
}
