@addTagHelper *, MSITTeam1
@{
    ViewData["Title"] = "Index";
}

@section Style{
    <link rel="stylesheet" href="~/css/fontawesome-all.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/QuestionBankStyleSheet.css" />
    <style>
        .card {
            height: 190px;
            padding: 15px !important;
        }

            .card:hover {
                box-shadow: 5px 10px 30px rgb(0 0 0 / 50%);
            }

        .card-body {
            text-align: center;
        }

        .card-title {
            text-align: center !important;
        }

        p, .text {
            line-height: 1.6em !important;
            font-size: 14px;
            text-indent: 2em;
            height: 65px;
            overflow: auto;
        }

        .p-3 {
            padding: 3px !important;
        }

        .creator {
            color: darkblue;
            text-align: right;
            font-size: 14px !important;
        }

        .resumebar .delBtn {
            -webkit-appearance: none;
            -moz-appearance: none;
            border: 0;
            text-transform: capitalize;
            font-size: 18px;
            line-height: 22px;
            outline: none;
            cursor: pointer;
            transition: all .3s linear;
            width: 100% !important;
            padding: 3px 0px 0 0 !important;
            background-color: none !important;
            color: none !important;
        }
    </style>
}
<link href="~/css/MemberCenter.css" rel="stylesheet">

<div>
    <vc:q-test-paper-list></vc:q-test-paper-list>
</div>

@section Scripts
{
    <script src="https://your-site-or-cdn.com/fontawesome/v6.1.1/js/all.js" data-auto-replace-svg="nest"></script>
    <script>

    </script>
}

