@model IEnumerable<MSITTeam1.ViewModels.CAddToCartViewModel>

@{
    ViewData["Title"] = "Index";
}
@section Style{
    <style>

        .title {
            font-family: inherit;
            font-size: 2rem;
            font-weight: 600;
            line-height: inherit;
            color: #252b46;
            text-transform: capitalize;
        }

        .paragraph {
            font-family: inherit;
            font-size: 1rem;
            font-weight: normal;
            line-height: inherit;
            max-width: 100%;
            margin-top: 0.5rem;
            color: #9194a1;
        }

        .main .tab {
            width: 100%;
            height: auto;
            padding: 3rem 0;
        }

        .main .tab-menu {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            max-width: 100%;
            height: auto;
            margin: 0 auto;
            border-bottom: 1.3px solid #dbdbdb;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }

        .main .tab-menu-link {
            position: relative;
            overflow: hidden;
            font-family: inherit;
            font-size: 1rem;
            font-weight: 600;
            line-height: inherit;
            cursor: pointer;
            width: calc(100% / 2);
            height: auto;
            padding: 1rem 0;
            border-bottom: 2.5px solid transparent;
            color: #9194a1;
            background: #ffffff;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }

            .main .tab-menu-link::before {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                width: 100%;
                height: auto;
                z-index: 2;
            }

            .main .tab-menu-link.is-active {
                bottom: 0px;
                z-index: 0;
                overflow: hidden;
                border-bottom: 2.5px solid #fa5757;
                color: #252b46;
                background: #ffffff;
            }

        .main .tab-bar {
            padding: 2.5rem 0;
            overflow: hidden;
            background: #ffffff;
        }

        .main .tab-bar-content {
            display: none;
            width: 100%;
            min-height: 10rem;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }

            .main .tab-bar-content.is-active {
                display: block;
            }
        /*# sourceMappingURL=cart4.css.map */

        .product-image {
            float: left;
            width: 20%;
        }

        .product-details {
            float: left;
            width: 37%;
            line-height: 100px;
        }

        .product-price {
            float: left;
            width: 12%;
            line-height: 100px;
        }

        .product-quantity {
            float: left;
            width: 10%;
            line-height: 100px;
        }

        .product-removal {
            float: left;
            width: 9%;
            line-height: 100px;
        }

        .product-line-price {
            float: left;
            width: 12%;
            text-align: right;
            line-height: 100px;
        }

        /* This is used as the traditional .clearfix class */
        .group:before, .shopping-cart:before, .column-labels:before, .product:before, .totals-item:before,
        .group:after,
        .shopping-cart:after,
        .column-labels:after,
        .product:after,
        .totals-item:after {
            content: '';
            display: table;
        }


        .group:after,
        .shopping-cart:after,
        .column-labels:after,
        .product:after,
        .totals-item:after {
            clear: both;
        }

        .group, .shopping-cart, .column-labels, .product, .totals-item {
            zoom: 1;
        }

            /* Apply clearfix in a few places */
            /* Apply dollar signs */
            .product .product-price:before, .product .product-line-price:before, .totals-value:before {
                content: '$';
            }


        .shopping-cart {
            margin-top: -45px;
        }

        /* Column headers */
        .column-labels label {
            padding-bottom: 15px;
            margin-bottom: 15px;
            /* border-bottom: 1px solid #eee; */
        }

        .column-labels .product-image, .column-labels .product-details, .column-labels .product-removal {
            text-indent: -9999px;
        }

        /* Product entries */
        .product {
            margin-bottom: 20px;
            padding-bottom: 10px;
            border-bottom: 1px solid #eee;
        }

            .product .product-image {
                text-align: center;
            }

                .product .product-image img {
                    width: 100px;
                    height: 100px;
                }

            .product .product-details .product-title {
                margin-right: 20px;
                font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
            }

            .product .product-details .product-description {
                margin: 5px 20px 5px 0;
                line-height: 1.4em;
            }

            .product .product-quantity input {
                width: 40px;
                line-height: initial;
            }

            .product .remove-product {
                border: 0;
                padding: 4px 8px;
                background-color: #c66;
                color: #fff;
                font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
                font-size: 12px;
                border-radius: 3px;
                line-height: initial;
            }

                .product .remove-product:hover {
                    background-color: #a44;
                }

        /* Totals section */
        .totals .totals-item {
            float: right;
            clear: both;
            width: 100%;
            margin-bottom: 10px;
        }

            .totals .totals-item label {
                float: left;
                clear: both;
                width: 79%;
                text-align: right;
            }

            .totals .totals-item .totals-value {
                float: right;
                width: 21%;
                text-align: right;
            }

        .totals .totals-item-total {
            font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
        }

        .checkout {
            float: right;
            border: 0;
            margin-top: 20px;
            padding: 6px 25px;
            background-color: #6b6;
            color: #fff;
            font-size: 25px;
            border-radius: 3px;
        }

            .checkout:hover {
                background-color: #494;
            }

        /* Make adjustments for tablet */
        @@media screen and (max-width: 650px) {
            .shopping-cart {
                margin: 0;
                padding-top: 20px;
                border-top: 1px solid #eee;
            }

            .column-labels {
                display: none;
            }

            .product-image {
                float: right;
                width: auto;
            }

                .product-image img {
                    margin: 0 0 10px 10px;
                }

            .product-details {
                float: none;
                margin-bottom: 10px;
                width: auto;
            }

            .product-price {
                clear: both;
                width: 70px;
            }

            .product-quantity {
                width: 100px;
            }

                .product-quantity input {
                    margin-left: 20px;
                    line-height: initial;
                }

                .product-quantity:before {
                    content: 'x';
                }

            .product-removal {
                width: auto;
            }

            .product-line-price {
                float: right;
                width: 70px;
            }
        }

        /* Make more adjustments for phone */
        @@media screen and (max-width: 350px) {
            .product-removal {
                float: right;
            }

            .product-line-price {
                float: right;
                clear: left;
                width: auto;
                margin-top: 10px;
            }

            .product .product-line-price:before {
                content: 'Item Total: $';
            }

            .totals .totals-item label {
                width: 60%;
            }

            .totals .totals-item .totals-value {
                width: 40%;
            }
        }
        /*# sourceMappingURL=cart5.css.map */
    </style>
}
@foreach (var item in Model)
{
    <div class="container">
        <main class="main">
            <div class="tab">
                <div class="tab-menu">
                    <button class="tab-menu-link is-active" data-content="item-1">
                        <span data-title="item-1">課程購物車</span>
                    </button>
                    <button class="tab-menu-link" data-content="item-2">
                        <span data-title="item-2">小物購物車</span>
                    </button>
                </div>
                <div class="tab-bar">
                    <div class="tab-bar-content is-active mt-5" id="item-1">
                        <div class="shopping-cart">
                            <!--<div class="column-labels">
                                <label class="product-image">Image</label>
                                <label class="product-details">Product</label>-->
                            <!-- <label class="product-price">Price</label> -->
                            <!-- <label class="product-quantity">Quantity</label> -->
                            <!--<label class="product-removal">Remove</label>-->
                            <!-- <label class="product-line-price">Total</label> -->
                            <!--</div>-->

                            <div class="product">
                                <div class="product-image">
                                    <img src="@Html.DisplayFor(modelItem => item.imgPath)">
                                </div>
                                <div class="product-details">
                                    <div class="product-title">@Html.DisplayFor(modelItem => item.name)</div>

                                </div>
                                <div class="product-price">@Html.DisplayFor(modelItem => item.price)</div>
                                <div class="product-quantity">
                                    <input type="number"  min="1">
                                </div>
                                <div class="product-removal">
                                    <button class="remove-product">
                                        Remove
                                    </button>
                                </div>
                                <div class="product-line-price">@Html.DisplayFor(modelItem => item.subTotal)</div>
                            </div>

                            <div class="product">
                                <div class="product-image">
                                    <img src="https://s.cdpn.io/3/large-NutroNaturalChoiceAdultLambMealandRiceDryDogFood.png">
                                </div>
                                <div class="product-details">
                                    <div class="product-title">Nutro™ Adult Lamb and Rice Dog Food</div>

                                </div>
                                <div class="product-price">45.99</div>
                                <div class="product-quantity">
                                    <input type="number" value="1" min="1">
                                </div>
                                <div class="product-removal">
                                    <button class="remove-product">
                                        Remove
                                    </button>
                                </div>
                                <div class="product-line-price">45.99</div>
                            </div>

                            <div class="totals">
                                <div class="totals-item">
                                    <label>Subtotal</label>
                                    <div class="totals-value" id="cart-subtotal">71.97</div>
                                </div>
                                <div class="totals-item">
                                    <label>Tax (5%)</label>
                                    <div class="totals-value" id="cart-tax">3.60</div>
                                </div>
                                <div class="totals-item">
                                    <label>Shipping</label>
                                    <div class="totals-value" id="cart-shipping">15.00</div>
                                </div>
                                <div class="totals-item totals-item-total">
                                    <label>Grand Total</label>
                                    <div class="totals-value" id="cart-total">90.57</div>
                                </div>
                            </div>

                            <button class="checkout">Checkout</button>

                        </div>
                    </div>
                    <div class="tab-bar-content mt-5" id="item-2">
                        <div class="shopping-cart">
                            <!--<div class="column-labels">
                                <label class="product-image">Image</label>
                                <label class="product-details">Product</label>-->
                            <!-- <label class="product-price">Price</label> -->
                            <!-- <label class="product-quantity">Quantity</label> -->
                            <!--<label class="product-removal">Remove</label>-->
                            <!-- <label class="product-line-price">Total</label> -->
                            <!--</div>-->

                            <div class="product">
                                <div class="product-image">
                                    <img src="https://s.cdpn.io/3/dingo-dog-bones.jpg">
                                </div>
                                <div class="product-details">
                                    <div class="product-title">Dingo Dog Bones</div>

                                </div>
                                <div class="product-price">12.99</div>
                                <div class="product-quantity">
                                    <input type="number" value="2" min="1">
                                </div>
                                <div class="product-removal">
                                    <button class="remove-product">
                                        Remove
                                    </button>
                                </div>
                                <div class="product-line-price">25.98</div>
                            </div>

                            <div class="product">
                                <div class="product-image">
                                    <img src="https://s.cdpn.io/3/large-NutroNaturalChoiceAdultLambMealandRiceDryDogFood.png">
                                </div>
                                <div class="product-details">
                                    <div class="product-title">Nutro™ Adult Lamb and Rice Dog Food</div>

                                </div>
                                <div class="product-price">45.99</div>
                                <div class="product-quantity">
                                    <input type="number" value="1" min="1">
                                </div>
                                <div class="product-removal">
                                    <button class="remove-product">
                                        Remove
                                    </button>
                                </div>
                                <div class="product-line-price">45.99</div>
                            </div>

                            <div class="totals">
                                <div class="totals-item">
                                    <label>Subtotal</label>
                                    <div class="totals-value" id="cart-subtotal">71.97</div>
                                </div>
                                <div class="totals-item">
                                    <label>Tax (5%)</label>
                                    <div class="totals-value" id="cart-tax">3.60</div>
                                </div>
                                <div class="totals-item">
                                    <label>Shipping</label>
                                    <div class="totals-value" id="cart-shipping">15.00</div>
                                </div>
                                <div class="totals-item totals-item-total">
                                    <label>Grand Total</label>
                                    <div class="totals-value" id="cart-total">90.57</div>
                                </div>
                            </div>
                            <button class="checkout">Checkout</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div><!-- #tab_container -->
}

    
    @section Scripts{
        <script>
            // Tabs Action
            const tabLink = document.querySelectorAll(".tab-menu-link");
            const tabContent = document.querySelectorAll(".tab-bar-content");

            tabLink.forEach((item) => {
                item.addEventListener("click", activeTab);
            });

            function activeTab(item) {
                const btnTarget = item.currentTarget;
                const content = btnTarget.dataset.content;

                tabContent.forEach((item) => {
                    item.classList.remove("is-active");
                });

                tabLink.forEach((item) => {
                    item.classList.remove("is-active");
                });

                document.querySelector("#" + content).classList.add("is-active");
                btnTarget.classList.add("is-active");
            }
        </script>
    }
