@model IEnumerable<MSITTeam1.ViewModels.CProductViewModel>

@{
    ViewData["Title"] = "Index";
}

@section Style{
@*<link href="https://www.littlesnippets.net/css/codepen-result.css" rel="stylesheet">*@
    <style>
        .card {
            margin-bottom: 20px;
        }

        .card-img-top {
            width: 100%;
            height: 250px;
            align-self: center;
        }

        .pagination {
            justify-content: center;
        }

            .pagination .pageBG > a {
                background-color: #1e3c84;
                color: white;
            }

            .pagination .page-link {
                color: #398AB9;
            }

        @@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

        .product-item {
            font-family: 'Fira Sans Extra Condensed', Arial, sans-serif;
            position: relative;
            display: inline-block;
            overflow: hidden;
            background-color: #fff;
            color: #111;
        }

            .product-item *,
            .product-item *:before,
            .product-item *:after {
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                -webkit-transition: all 0.35s ease;
                transition: all 0.35s ease;
            }

            .product-item img {
                max-width: 100%;
                height:250px;
                vertical-align: top;
            }

            .product-item figcaption {
                padding: 10px;
            }

            .product-item .price {
                margin: 8px 0;
                font-weight: 700;
                color: #1e3c84;
            }

            .product-item .icons {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
            }

                .product-item .icons a {
                    margin: 3px;
                    opacity: 0;
                    -webkit-transform: translateY(50%);
                    transform: translateY(50%);
                    width:fit-content;
                }

                    .product-item .icons a i {
                        display: block;
                        font-size: 23.52941176px;
                        line-height: 40px;
                        width: 40px;
                        background-color: #ffffff;
                        text-align: center;
                        color: #000;
                        transition: all 0.1s linear;
                    }

                        .product-item .icons a i:hover {
                            background-color: #ed731a;
                            color: #ffffff;
                            cursor: pointer;
                            transition: background-color 0.5s linear;
                        }

            .product-item:hover a,
            .product-item.hover a {
                opacity: 1;
                -webkit-transform: translateX(0);
                transform: translateX(0);
                transition: all 0.1s linear;
            }

           
    </style>
}
<div class="container">
    <form>
        <div class="form-group row justify-content-center py-4">
            <div class="col-md-5">
                <div class="input-group input-group-rounded">
                    <input type="text" placeholder="請輸入關鍵字" name="txtKeyword" class="form-control">
                    <span class="input-group-btn"><button class="btn bg-blue btn-group-right" type="submit"><i class="fas fa-search text-light"></i></button></span>
                </div>
            </div>
        </div>
    </form>
   
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 col-lg-3">
                <figure class="product-item">
                    <img src="~/images/products/@item.ImgPath" alt="" />
                    <div class="icons"><a title="加入購物車"><i class="fas fa-shopping-cart"></i></a><a title="商品詳情" asp-action="Details" asp-route-id="@item.ProductId"><i class="fas fa-info-circle"></i></a></div>
                    <figcaption>
                        <h5>@Html.DisplayFor(modelItem => item.Name)</h5>
                        <div class="price h5">$@Html.DisplayFor(modelItem => item.Price)</div>
                    </figcaption>
                </figure>
            </div>
    }
        </div>
        <div id="ProductPagination" class="row my-4"></div>
    </div>
@section Scripts{
    <script>
        /* Demo purposes only */
        var snippet = [].slice.call(document.querySelectorAll('.hover'));
        if (snippet.length) {
            snippet.forEach(function (snippet) {
                snippet.addEventListener('mouseout', function (event) {
                    if (event.target.parentNode.tagName === 'figure') {
                        event.target.parentNode.classList.remove('hover')
                    } else {
                        event.target.parentNode.classList.remove('hover')
                    }
                });
            });
        }
    </script>

    <script>
        $(function () {
            initPagination('.product-item', 8, '#ProductPagination')
        });
        function initPagination(pageEle, showItem, paginationTarget) {
            let pageLength = $(pageEle).length
            let showItemLength = showItem
            let showPage = Math.ceil(pageLength / showItemLength)

            $(paginationTarget).twbsPagination({
                totalPages: showPage,
                visiblePages: 5,
                first: "第一頁",
                prev: "前一頁",
                next: "下一頁",
                last: "最後一頁",
                nextClass: "page-item pageColor",
                prevClass: "page-item pageColor",
                lastClass: "page-item pageColor last",
                firstClass: "page-item pageColor first",
                pageClass: "page-item pageColor",
                activeClass: "page-item pageBG",
                onPageClick: function (event, page) {
                }
            }).on('page', function (event, page) {
                $(pageEle).fadeOut(200)
                let start = (page - 1) * showItemLength
                let end = (page - 1) * showItemLength + showItemLength - 1
                $(pageEle).each((index, item) => {
                    if (index >= start && index <= end) {
                        $(item).fadeIn(600)
                    }
                })
            });

            $(pageEle).hide()


            pageLength <= showItemLength && $(pageEle).fadeIn(600)
            if (pageLength > showItemLength) {
                $(pageEle).each((index, item) => {
                    if (index < showItemLength) {
                        $(item).fadeIn(600)
                    }
                })
            }
        }
    </script>
}
