<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MSITTeam1</title>
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/plugins/revolution/css/settings.css" rel="stylesheet" type="text/css">
    <!-- REVOLUTION SETTINGS STYLES -->
    <link href="~/plugins/revolution/css/layers.css" rel="stylesheet" type="text/css"><!-- REVOLUTION LAYERS STYLES -->
    <link href="~/plugins/revolution/css/navigation.css" rel="stylesheet" type="text/css">
    <!-- REVOLUTION NAVIGATION STYLES -->

    <link href="~/css/style.css" rel="stylesheet">
    <link href= "~/css/responsive.css" rel="stylesheet">

    <link href="~/css/cardHavorInteraction.css" rel="stylesheet">

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>
<body class="pt-10">

    <div class="page-wrapper">
        <!-- Preloader -->
        <div class="preloader"></div>

        <header class="main-header header-style-two fixed-top mb-5" >
            <!-- Header Top -->
            <div class="header-top">
                <div class="auto-container">
                    <div class="clearfix">
                        <div class="top-left">
                            <ul class="info-list clearfix">
                                <li><a href="tel:6668880000"><span class="fa fa-phone-square"></span> </a></li>
                                <li><a href="mailto:iservice@ispan.com.tw"><span class="fa fa-envelope"></span></a></li>
                                <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                <!-- <li><a href="#"><span class="fab fa-twitter"></span></a></li> -->
                                <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                            </ul>
                        </div>

                        <div class="top-right">
                            <!-- link Box -->

                            <div class="link-box"><a asp-controller="login"asp-action="Index">登入&nbsp;&nbsp;|&nbsp;&nbsp;註冊</a></div>
                           
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header Top -->
            <!-- Header Upper -->
            <div class="header-lower ">
                <div class="auto-container auto-container-header clearfix">
                    <!--Info-->
                    <div class="logo-outer">
                        <div class="logo"><a asp-controller="Index" asp-action="Index"><img src="images/logo.png" alt="" title=""></a></div>
                    </div>

                    <!--Nav Box-->
                    <div class="nav-outer clearfix">
                        <!-- Main Menu -->
                        <nav class="main-menu navbar-expand-md navbar-light">
                            <div class="navbar-header">
                                <!-- Toggle Button -->
                                <button class="navbar-toggler" type="button" data-toggle="collapse"
                                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                        aria-expanded="false" aria-label="Toggle navigation">
                                    <i class="color-blue fas fa-bars fa-lg mb-3"></i>
                                </button>
                            </div>

                            <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
                                <ul class="navigation clearfix">
                                    <li><a href="about.html">關於我們</a></li>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle-title" href="#">就業養成班</a>
                                        <ul>
                                            <li><a href="index.html">Home page 01</a></li>
                                            <li><a href="index-2.html">Home page 02</a></li>
                                            <li class="current dropdown">
                                                <a class="dropdown-toggle-title"
                                                   href="#">Header Styles</a>
                                                <ul>
                                                    <li><a href="index.html">Header Style One</a></li>
                                                    <li><a href="index-2.html">Header Style Two</a></li>
                                                </ul>
                                                <div class="dropdown-btn"><span class="fa fa-angle-down"></span></div>
                                            </li>
                                        </ul>
                                        <div class="dropdown-btn"><span class="fa fa-angle-down"></span></div>
                                    </li>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle-title" href="#">在職進修班</a>
                                        <ul>
                                            <li><a href="index.html">Home page 01</a></li>
                                            <li><a href="index-2.html">Home page 02</a></li>
                                            <li class="current dropdown">
                                                <a class="dropdown-toggle-title"
                                                   href="#">Header Styles</a>
                                                <ul>
                                                    <li><a href="index.html">Header Style One</a></li>
                                                    <li><a href="index-2.html">Header Style Two</a></li>
                                                </ul>
                                                <div class="dropdown-btn"><span class="fa fa-angle-down"></span></div>
                                            </li>
                                        </ul>
                                        <div class="dropdown-btn"><span class="fa fa-angle-down"></span></div>
                                    </li>

                                    <li class="dropdown">
                                        <a class="dropdown-toggle-title" href="#">企業專區</a>
                                        <ul>
                                            <li><a href="events.html">Events</a></li>
                                            <li><a href="event-detail.html">Event Detail</a></li>
                                        </ul>
                                        <div class="dropdown-btn"><span class="fa fa-angle-down"></span></div>
                                    </li>
                                    <li><a href="about.html">服務據點</a></li>
                                    <li><a href="about.html">學員須知</a></li>
                                    <li><a href="about.html">學習地圖</a></li>
                                    <li><a href="about.html">課表下載</a></li>
                                </ul>
                            </div>
                        </nav>
                        <!-- Main Menu End-->
                        <!-- Main Menu End-->
                        <!-- <div class="outer-box clearfix">
                            <ul class="social-icon-colored">
                                <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                            </ul>
                        </div> -->
                    </div>
                </div>
            </div>
            <!--End Header Upper-->
            <!-- Sticky Header  -->
            <!-- <div class="sticky-header">
                <div class="auto-container clearfix">
                    <div class="logo pull-left">
                        <a href="index.html" title=""><img src="images/logo.png" alt="" title=""></a>
                    </div>
                    <div class="pull-right">
                        <nav class="main-menu">
                            <div class="navbar-collapse show collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li><a href="about.html">關於我們</a></li>
                                    <li class="dropdown"><a class="dropdown-toggle-title" href="#">就業養成班</a>
                                        <ul>
                                            <li><a href="index.html">Home page 01</a></li>
                                            <li><a href="index-2.html">Home page 02</a></li>
                                            <li class="current dropdown"><a class="dropdown-toggle-title"
                                                    href="#">Header Styles</a>
                                                <ul>
                                                    <li><a href="index.html">Header Style One</a></li>
                                                    <li><a href="index-2.html">Header Style Two</a></li>
                                                </ul>
                                                <div class="dropdown-btn"><span class="fa fa-angle-down"></span></div>
                                            </li>
                                        </ul>
                                        <div class="dropdown-btn"><span class="fa fa-angle-down"></span></div>
                                    </li>
                                    <li class="dropdown"><a class="dropdown-toggle-title" href="#">在職進修班</a>
                                        <ul>
                                            <li><a href="index.html">Home page 01</a></li>
                                            <li><a href="index-2.html">Home page 02</a></li>
                                            <li class="current dropdown"><a class="dropdown-toggle-title"
                                                    href="#">Header Styles</a>
                                                <ul>
                                                    <li><a href="index.html">Header Style One</a></li>
                                                    <li><a href="index-2.html">Header Style Two</a></li>
                                                </ul>
                                                <div class="dropdown-btn"><span class="fa fa-angle-down"></span></div>
                                            </li>
                                        </ul>
                                        <div class="dropdown-btn"><span class="fa fa-angle-down"></span></div>
                                    </li>

                                    <li class="dropdown"><a class="dropdown-toggle-title" href="#">企業專區</a>
                                        <ul>
                                            <li><a href="events.html">Events</a></li>
                                            <li><a href="event-detail.html">Event Detail</a></li>
                                        </ul>
                                        <div class="dropdown-btn"><span class="fa fa-angle-down"></span></div>
                                    </li>
                                    <li><a href="about.html">服務據點</a></li>
                                    <li><a href="about.html">學員須知</a></li>
                                    <li><a href="about.html">學習地圖</a></li>
                                    <li><a href="about.html">課表下載</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div> -->
        </header>
                @RenderBody()
    


        <!--Main Footer-->
        <footer class="main-footer">
            <!-- <div class="anim-icons ">
                <span class="icon icon-sparrow wow zoomIn" data-wow-delay="400ms"></span>
                <span class="icon icon-rainbow-2 wow zoomIn" data-wow-delay="800ms"></span>
                <span class="icon icon-star-3"></span>
                <span class="icon icon-star-3 two"></span>
                <span class="icon icon-sun"></span>
                <span class="icon icon-plane wow zoomIn" data-wow-delay="1200ms"></span>
            </div> -->
            <!--Scroll to top-->
            <div class="go-top" data-target="html">
                <span class="icon icon-arrow-up"></span>
            </div>

            <!--footer upper-->
            <div class="footer-upper">
                <div class="auto-container">
                    <!-- <div class="row clearfix"> -->
                    <!--Big Column-->
                    <div class="big-column">
                        <div class="row clearfix">

                            <!--Footer Column-->
                            <div class="footer-column  col-lg-5 col-md-5 col-sm-12">
                                <div class="footer-widget logo-widget">
                                    <div class="logo">
                                        <a href="index.html"><img src="~/images/photo/footerLOGO.png" alt="" /></a>
                                    </div>
                                    <div class="text">
                                        以專業與跨域人才培育，縮短產學落差，提升人才素質。<br>以創新與前瞻學習服務，擴大產學合作，增能數位轉型。
                                    </div>

                                </div>
                            </div>

                            <!--Footer Column-->
                            <div class="footer-column col-lg-4 col-md-4 col-sm-12">
                                <div class="footer-widget contact-widget">
                                    <h4 class="widget-title">聯繫方式</h4>
                                    <div class="widget-content">
                                        <ul class="contact-info">
                                            <li>
                                                <a href="tel:0266316588">
                                                    <span class="fa fa-phone-square"></span>(02)
                                                    6631-6588(台北窗口)
                                                </a>
                                            </li>
                                            <li>
                                                <a href="mailto:iservice@ispan.com.tw">
                                                    <span class="fa fa-envelope"></span>iservice@ispan.com.tw
                                                </a>
                                            </li>
                                            <li>
                                                <a target="_blank"
                                                   href="https://www.google.com.tw/maps/place/106%E5%8F%B0%E5%8C%97%E5%B8%82%E5%A4%A7%E5%AE%89%E5%8C%BA%E5%BE%A9%E8%88%88%E5%8D%97%E8%B7%AF%E4%B8%80%E6%AE%B5390%E8%99%9F2%E6%A8%93/@@25.0339098,121.5435566,19z/data=!4m5!3m4!1s0x3442abd3781b82e1:0xc0508038c1566f21!8m2!3d25.0339145!4d121.543412?hl=zh-TW&authuser=0">
                                                    <span class="fa fa-map"></span>台北市復興南路一段390號2樓<br>(大安捷運站4號、6號出口)
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--Footer Column-->
                            <div class="footer-column col-lg-3 col-md-3 col-sm-12">
                                <div class="footer-widget contact-widget">
                                    <h4 class="widget-title">相關連結</h4>
                                    <ul class="social-icon-colored">
                                        <li>
                                            <a target="_blank" href="https://www.facebook.com/IIIDEITaipei">
                                                <span class="fab fa-facebook-f"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a target="_blank"
                                               href="https://www.youtube.com/channel/UCObZbQQVeVvznp9TIPkqIPA">
                                                <span class="fab fa-youtube"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Big Column-->
                    <!-- <div class="big-column">
                        <div class="row clearfix"> -->
                    <!--Footer Column-->
                    <!-- <div class="footer-column col-xl-3 col-lg-3 col-md-6 col-sm-4">
                                <div class="footer-widget links-widget">
                                    <h4 class="widget-title">Links</h4>
                                    <div class="widget-content">
                                        <ul class="list">
                                            <li><a href="#">About</a></li>
                                            <li><a href="#">Contact</a></li>
                                            <li><a href="#">Our Gallery</a></li>
                                            <li><a href="#">Programs</a></li>
                                            <li><a href="#">Events</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div> -->
                    <!--Footer Column-->
                    <!-- <div class="footer-column col-xl-4 col-lg-3 col-md-6 col-sm-12">
                                <div class="footer-widget activites-widget">
                                    <h4 class="widget-title">Activities</h4>
                                    <div class="widget-content">
                                        <ul class="list">
                                            <li><a href="#">Table/Floor Toys</a></li>
                                            <li><a href="#">Outdoor Games</a></li>
                                            <li><a href="#">Sand Play</a></li>
                                            <li><a href="#">Play Dough</a></li>
                                            <li><a href="#">Building Blocks</a></li>
                                            <li><a href="#">Water Play</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div> -->
                    <!--Footer Column-->
                    <!-- <div class="footer-column col-xl-5 col-lg-6 col-md-12 col-sm-12">
                                <div class="footer-widget newsletter-widget">
                                    <h4 class="widget-title">Newsletter</h4>
                                    <div class="newsletter-form">
                                        <form method="post" action="contact.html">
                                            <div class="form-group">
                                                <input type="email" name="email" value=""
                                                    placeholder="Enter Your Email" required=""> -->
                    <!-- <button type="submit" class="theme-btn btn-style-one">Subscribe</button> -->
                    <!-- <div class="btn-box"><a href="#"
                                                        class="theme-btn btn-style-two">View All Programs</a></div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div> -->
                    <!-- </div>
                    </div> -->
                    <!-- </div> -->
                </div>
            </div>
            <!--Footer Bottom-->
            <div class="footer-bottom">
                <div class="auto-container">
                    <!-- <ul class="social-icon-colored">
                        <li><a href="https://www.facebook.com/IIIDEITaipei"><span class="fab fa-facebook-f"></span></a></li>
                        <li><a href="https://www.youtube.com/channel/UCObZbQQVeVvznp9TIPkqIPA"><span class="fab fa-youtube"></span></a></li>
                    </ul> -->
                    <div class="copyright">
                        <a href="" title="chinaz">資展國際股份有限公司 &copy; All Rights Reserved.</a><br><a href="https://www.ispan.com.tw/privacypolicy">服務條款及隱私權保護政策</a>
                    </div>
                </div>
            </div>
        </footer>
        <!--End Main Footer-->

    </div>
    <script src="~/js/jquery.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <!--Revolution Slider-->
    <script src="~/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/plugins/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="~/plugins/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/plugins/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script src="~/js/main-slider-script.js"></script>
    <!--Revolution Slider-->
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/jquery.fancybox.js"></script>
    <script src="~/js/owl.js"></script>
    <script src="~/js/jquery.countdown.js"></script>
    <script src="~/js/wow.js"></script>
    <script src="~/js/appear.js"></script>
    <script src="~/js/parallax.min.js"></script>
    <script src="~/js/script.js"></script>
    @*<script>
        if (@ViewBag.Name!= "")
        {
            $("#go").attr("asp-controller","會員中心")
        }
    </script>*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
