@model MSITTeam1.ViewModels.CQuestionBankViewModel

@{
    ViewData["Title"] = "Create";
}

@section Style{
    <link href="~/css/QuestionBankStyleSheet.css" rel="stylesheet" />
    <link href="~/css/barRating.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>

        input[type='checkbox'] {
            vertical-align: text-bottom;
            margin-bottom: 1px;
            padding: 5px;
        }

        #ansList > #choice > #txtAns {
            display: inline !important;
            width: 90% !important;
        }
    </style>
}
<div class="container" id="outdiv" style="padding:20px">
    <h1>新增</h1>

    <h4>新增題目</h4>
    <hr />

    <div class="row" style="padding:20px;">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-3">
                    <label asp-for="FSubjectId" class="control-label"></label>
                    <select id="FSubjectId" name="FSubjectId" class="form-control"></select>
                    <span asp-validation-for="FSubjectId" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="FQuestionTypeId" class="control-label"></label>
                    <select id="FQuestionTypeId" asp-for="FQuestionTypeId" class="form-control">
                        <option value="1">單選題</option>
                        <option value="2">多選題</option>
                        <option value="3">填空題</option>
                    </select>
                    <span asp-validation-for="FQuestionTypeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FQuestion" class="control-label"></label>
                    <input id="FQuestion" asp-for="FQuestion" class="form-control" />
                    <span asp-validation-for="FQuestion" class="text-danger"></span>
                </div>
                <div id="ansList">
                    <div class="form-group" id="choice">
                        <label asp-for="FChoice" class="control-label"></label>
                        <br />
                        <input id="checkBox1" type="checkbox" name="FCorrectAnswer" onclick="doCheck(this)" />
                        <input id="txtAns" asp-for="FChoice" class="form-control" />
                        <span asp-validation-for="FChoice" class="text-danger"></span>
                    </div>

                </div>
                <div style="padding:10px 0px 30px 30px;">
                    <btn id="BtnNewChoice" class="btn btn-primary btn-outline small">新增答案選項</btn>
                </div>
                <div class="form-group">
                    <label asp-for="FLevel" class="control-label"></label>
                    <div>
                        <div class="rating2">
                            <select class="questionBarRate" id="example-fontawesome" name="rating" autocomplete="off">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                    <span asp-validation-for="FLevel" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary" type="button" id="createNew">測試</button>
                    @*<button class="btn btn-primary" type="button" id="test">測試</button>*@
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="List">返回列表</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        // 取得所有課程名稱
        const selSubject = document.querySelector('#FSubjectId');

        async function LoadSubject() {
            const responseSubject = await fetch('@Url.Content("~/QuestionBank/Subject")');
            renderSubject(await responseSubject.json());
        }

        LoadSubject();

        function renderSubject(datas) {
            datas.forEach((item) => {
                const opt = new Option(item.fClassCategory, item.fClassCategory);
                selSubject.options.add(opt);
            })
        }

        // 判斷Checkbox
        var currentSelect = 0, limit = 1;
        function doCheck(obj) {
            obj.checked ? currentSelect++ : currentSelect--;
            if (currentSelect > limit) {
                obj.checked = false;
                Swal.fire("超過正確答案上限");
                currentSelect--;
            }
        }

        // 根據題型判斷答案輸入欄位及許可正確選項上限
        $('#FQuestionTypeId').change(function () {
            if ($(this).val() === "3") {
                console.log("OK");
                $('#BtnNewChoice').hide();
                $('#ansList > #choice > label').html("答案");
                $('#ansList div:not(:first-child)').remove();
                $('#ansList > #choice > #checkBox1').hide();
            } else if ($(this).val() === "2") {
                limit = 100;
                $('#BtnNewChoice').show();
                $('#ansList > #choice > label').html("選項");
                $('#ansList > #choice > #checkBox1').show();
            } else if ($(this).val() === "1") {
                limit = 1;
                $('#BtnNewChoice').show();
                $('#ansList > #choice > label').html("選項");
                $('#ansList > #choice > input').removeAttr("checked");
                $('#ansList > #choice > #checkBox1').show();
            }
        })

        // 新增選項textbox
        var count = 1;
        const btnNewChoice = document.querySelector('#BtnNewChoice');
        btnNewChoice.addEventListener('click', function () {
            count++;
            //var divChoice = "<div class=form-group id=choice c><label asp -for= FChoice class= control-label>選項" + count + "</label ><input id=txtAns asp-for=FChoice class=form-control /><span asp-validation-for=FChoice class=text-danger></span><button class=btn id=del-btn type=button><i class=fasfa-trash-alt> </i>Delete</button></div>"
            var divChoice = `<div class="form-group" id="choice" ><label asp -for="FChoice" class="control-label">選項</label ><br /><input type="checkbox" name="FCorrectAnswer" value=1 onclick="doCheck(this)" style="margin:0 3px 0 0;" /><input id="txtAns" asp-for="FChoice" class="form-control"/><span asp-validation-for="FChoice" class="text-danger"></span><button class="btn" id="del-btn" type="button" style="margin:10px 0 0 25px"><i class="fasfa-trash-alt"> </i>Delete</button></div>`
            $('#ansList').append(divChoice);
        })
        $("#outdiv").on("click", "#del-btn", function () {
            console.log("delete");
            $(this).closest("#choice").remove();
        });

        // 將所有選項存入Array
        $('#createNew').click(function () {
            var ansArr = [];
            var selectAns = $('#ansList input[type=checkbox]:checked').length;
            if (selectAns < 1) {
                Swal.fire("請選擇此題正確答案");
            } else {
                 $('#ansList > div').each(function (idx, item) {
                var ans = {}
                var c = $(item).find(':checkbox').prop('checked');
                ans.FCorrect = c ? 1 : 2;
                ans.Fchoice = $(item).find(':text').val();
                ansArr.push(ans);
            })
            console.log(ansArr);
            var jsondata = JSON.stringify({
                FSubjectId: $('#FSubjectId').val(),
                FQuestion: $('#FQuestion').val(),
                FQuestionTypeId: $('#FQuestionTypeId').val(),
                FChoiceList: ansArr,
                FLevel: $('#FLevel').val()
            })
            $.ajax({
                url: "@Url.Content("~/QuestionBank/Create")",
                type: "POST",
                contentType: "application/json",
                data:jsondata
            }).done(function (data) {
                Swal.fire({
                    icon: 'success',
                    title: '新增成功',
                    showConfirmButton: true,
                    timer:1500
                })
            })
            }
        })

    </script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="https://your-site-or-cdn.com/fontawesome/v6.1.1/js/all.js" data-auto-replace-svg="nest"></script>
    <script src="~/js/jquery.barrating.js"></script>
    <script src="~/js/barRating.init.js"></script>
    <script src="~/js/QuestionBankSystem.js"></script>
}
