@model MSITTeam1.ViewModels.CQuestionBankViewModel

@{
    ViewData["Title"] = "Create";
}
<div class="container" id="outdiv" style="padding:20px">
    <h1>新增</h1>

    <h4>新增題目</h4>
    <hr />

    <div class="row" style="padding:20px;">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FSubjectId" class="control-label"></label>
                    <select asp-for="FSubjectId" class="form-control">
                        <option>其他</option>
                    </select>
                    <span asp-validation-for="FSubjectId" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                    <label asp-for="FQuestionId" class="control-label"></label>
                    <input asp-for="FQuestionId" class="form-control" />
                    <span asp-validation-for="FQuestionId" class="text-danger"></span>
                </div>*@
                <div class="form-group">
                    <label asp-for="FCSubjectId" class="control-label"></label>
                    <select asp-for="FCSubjectId" class="form-control">
                        <option>其他</option>
                    </select>
                    <span asp-validation-for="FCSubjectId" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                    <label asp-for="FCQuestionId" class="control-label"></label>
                    <input asp-for="FCQuestionId" class="form-control" />
                    <span asp-validation-for="FCQuestionId" class="text-danger"></span>
                </div>*@
                <div class="form-group">
                    <label asp-for="FQuestion" class="control-label"></label>
                    <input asp-for="FQuestion" class="form-control" />
                    <span asp-validation-for="FQuestion" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                        <label asp-for="FQuestionImage" class="control-label"></label>
                        <input asp-for="FQuestionImage" class="form-control" />
                        <span asp-validation-for="FQuestionImage" class="text-danger"></span>
                    </div>*@
                <div class="form-group">
                    <label asp-for="FQuestionTypeId" class="control-label"></label>
                    <input asp-for="FQuestionTypeId" class="form-control" />
                    <span asp-validation-for="FQuestionTypeId" class="text-danger"></span>
                </div>
                <div class="form-group" id="choice">
                    <label asp-for="FChoice" class="control-label"></label>
                    <input asp-for="FChoice" class="form-control" />
                    <span asp-validation-for="FChoice" class="text-danger"></span>
                </div>
                <div style="padding:10px 0px 30px 30px;">
                    <btn id="BtnNewChoice" class="btn btn-primary btn-outline small">新增答案選項</btn>
                </div>
                @*<div class="form-group">
                        <label asp-for="FUpdateTime" class="control-label"></label>
                        <input asp-for="FUpdateTime" class="form-control" />
                        <span asp-validation-for="FUpdateTime" class="text-danger"></span>
                    </div>*@
                <div class="form-group">
                    <label asp-for="FLevel" class="control-label"></label>
                    <input asp-for="FLevel" class="form-control" />
                    <span asp-validation-for="FLevel" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="List">返回列表</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        // 新增選項textbox
        var count = 1;
        const btnNewChoice = document.querySelector('#BtnNewChoice');
        btnNewChoice.addEventListener('click', function () {
            count++;
            var divChoice = "<div class=form-group id=choice><label asp -for= FChoice class= control-label>選項" + count + "</label ><input asp-for=FChoice class=form-control /><span asp-validation-for=FChoice class=text-danger></span><button class=btn id=del-btn type=button><i class=fasfa-trash-alt> </i>Delete</button></div>"
            $('#choice').append(divChoice);
        })
        $("#outdiv").on("click", "#del-btn", function () {
            console.log("delete");
            $(this).closest("#choice").remove();
        });
    </script>
}
