@model MSITTeam1.ViewModels.CQuestionBankViewModel

@{
    ViewData["Title"] = "Edit";
}

<div>
    <h1>題目編輯</h1>

    <h4>題目內容</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit"  method="post" enctype = "multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Vsubject" />
                <input type="hidden" asp-for="VquestionId" />
                <div class="form-group">
                    <label asp-for="Vquestion" class="control-label"></label>
                    <input asp-for="Vquestion" class="form-control" />
                    <span asp-validation-for="Vquestion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @*<label asp-for="FQuestionImage" class="control-label"></label>
                        <input asp-for="FQuestionImage" class="form-control" />
                        <span asp-validation-for="FQuestionImage" class="text-danger"></span>*@
                    @*<input type="file" name="photo" class="form-control" />*@
                </div>
                <div class="form-group">
                    <label asp-for="VquestionType" class="control-label"></label>
                    <input asp-for="VquestionType" class="form-control" />
                    <span asp-validation-for="VquestionType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="VupdateTime" class="control-label"></label>
                    <input asp-for="VupdateTime" class="form-control" />
                    <span asp-validation-for="VupdateTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Vlevel" class="control-label"></label>
                    <input asp-for="Vlevel" class="form-control" />
                    <span asp-validation-for="Vlevel" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="List">返回題目列表</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
