@model IList<MSITTeam1.ViewModels.CQuestionBankViewModel>
@addTagHelper *, MSITTeam1

@{
    ViewData["Title"] = "List";
}

@section Style{
    @*<link href="~/css/SearchBar.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="~/css/fontawesome-all.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/QuestionBankStyleSheet.css" />
    <link rel="stylesheet" href="~/css/StarBar.css" />
    <style>
        #testView {
            width: 1600px;
        }

        .outerBox {
            align-items: center;
            float: none;
        }

        .containerForQL {
            padding: 65px;
        }

        #testView {
            width: 100%;
        }

        thead {
            text-align: center;
        }
    </style>
}
<div class="outerBox col-lg-12">
    <div class="containerForQL" style="padding:40px;">
        <div style="margin:20px">
            <form>
                <div class="form-group row justify-content-around py-4">
                    <div class="row">
                        <div class="col">
                            <select id="FSubjectId" name="FSubjectId" class="form-control">
                                <option value="">請選擇課程名稱</option>
                            </select>
                        </div>
                        <div class="col">
                            <select id="FQuestionTypeId" class="form-control">
                                <option value="">請選擇題型</option>
                                <option value="1">單選題</option>
                                <option value="2">多選題</option>
                                <option value="3">填空題</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group input-group-rounded">
                            <input type="text" placeholder="查詢關鍵字" name="keyword" class="form-control" id="keyword">
                            <span class="input-group-btn"><button class="btn btn-primary btn-group-right" type="button" id="search"><i class="fas fa-search"></i></button></span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="selectType" id="CreatebtnType">
            <span><a data-toggle="modal" data-target="#questionCreate">新增題目</a></span>
        </div>
        <div id="testView">

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="questionCreate" tabindex="-1" aria-labelledby="questionCreate" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">題目新增</h5>
                <input type="button" class="close" data-dismiss="modal" aria-label="Close" />
                <span aria-hidden="true">&times;</span>
            </div>
            <div class="modal-body">
                <vc:question-bank-create></vc:question-bank-create>
            </div>
        </div>
    </div>
</div>




@section Scripts{
    <script src="https://your-site-or-cdn.com/fontawesome/v6.1.1/js/all.js" data-auto-replace-svg="nest"></script>

    <script>
        var jsondata = null;
        $(document).ready(function () {
        $('#search').click(function () {
                jsondata = JSON.stringify({
                    Subjects: $('#FSubjectId').val(),
                    keyword: $('#keyword').val(),
                    Type: $('#FQuestionTypeId').val()
                })
            $.ajax({
                url: "@Url.Content("~/QuestionBank/List")",
                type: "POST",
                contentType: "application/json",
                data: jsondata,
                success: function (result) {
                    $('#testView').html(result);
                }
            })
        })
        })

        //-----------------------------Create New Question---------------------------------------------
        // 判斷Checkbox
        var limit = $('#FQuestionTypeIdSelCre').val();
        function doCheck(obj) {
            var currentSelect = $("#ansListCre > .choice > input[type='checkbox']:checked").length;
            console.log("Cre" + currentSelect);
            obj.checked ? currentSelect++ : currentSelect--;
            if (currentSelect > limit) {
                obj.checked = false;
                Swal.fire("超過正確答案上限");
                currentSelect--;
            }
        }

        // 根據題型判斷答案輸入欄位及許可正確選項上限
        $('#FQuestionTypeIdSelCre').change(function () {
            console.log("change")
            if ($(this).val() === "3") {
                console.log("3");
                $('#BtnNewChoiceCre').hide();
                $('#ansListCre > #choice > label').html("答案");
                $('#ansListCre div:not(:first-child)').remove();
                $('#ansListCre > #choice > #checkBox1').hide();
            } else if ($(this).val() === "2") {
                console.log("2");
                limit = 100;
                $('#BtnNewChoiceCre').show();
                $('#ansListCre > #choice > label').html("選項");
                $('#ansListCre > #choice > #checkBox1').show();
            } else if ($(this).val() === "1") {
                console.log("1");
                limit = 1;
                $('#BtnNewChoiceCre').show();
                $('#ansListCre > #choice > label').html("選項");
                $('#ansListCre > #choice > input').removeAttr("checked");
                $('#ansListCre > #choice > #checkBox1').show();
            }
        })

        // 新增和刪除選項textbox
        $('#BtnNewChoiceCre').click(function () {
            console.log("ok");
            var divChoice = `<div class="form-group choice" ><label asp -for="FChoice" class="control-label">選項</label ><br /><input type="checkbox" name="FCorrectAnswer" value=1 onclick="doCheck(this)" style="margin:0 3px 0 0;" /><input id="txtAns" asp-for="FChoice" class="form-control"/><button class="btn deleteChoiceCre" type="button" style="margin:10px 0 0 25px"><i class="fasfa-trash-alt"> </i>Delete</button></div>`
            $('#ansListCre').append(divChoice);
        })
        $('.deleteChoiceCre').click(function () {
            console.log("delete");
            $(this).closest("choice").remove();
        })
        //$("#outdiv").on("click", ".deleteChoiceCre", function () {
        //    console.log("delete");
        //    $(this).closest("#choice").remove();
        //});

        // 將所有選項存入Array
        $('#createNew').click(function () {
            var ansArr = [];
            var selectAns = $("#ansListCre > .choice > input[type=['checkbox']:checked").length;
            $('#ansListCre').find('#txtAns').each(function () {
                if ($(this).text() == "") {
                    Swal.fire("請輸入選項");
                }
            })
            if (selectAns < 1) {
                Swal.fire("請選擇此題正確答案");
            } else if ($('#FQuestion').val() == "") {
                Swal.fire("請輸入題目");
            }
            else {
                $('#ansListCre > div').each(function (idx, item) {
                    var ans = {}
                    var c = $(item).find(':checkbox').prop('checked');
                    ans.FCorrect = c ? 1 : 2;
                    ans.Fchoice = $(item).find(':text').val();
                    ansArr.push(ans);
                })
                var jsondata = JSON.stringify({
                    FSubjectId: $('#FSubjectIdSel').val(),
                    FQuestion: $('#FQuestion').val(),
                    FQuestionTypeId: $('#FQuestionTypeIdSelCre').val(),
                    FChoiceList: ansArr,
                    FLevel: $('.questionBarRate').val()
                })
                console.log(jsondata);
                $.ajax({
                    url: "/QuestionBank/Create",
                    type: "POST",
                    contentType: "application/json",
                    data: jsondata
                }).done(function (data) {
                    Swal.fire({
                        icon: 'success',
                        title: '新增成功',
                        showConfirmButton: true,
                        timer: 1500
                    })
                })
            }
        })

//-------------------------------------------Create New Question End--------------------------------
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js"></script>
    <script type="text/javascript" src="~/js/Pagination.js"></script>
    @*<script src="~/js/QuestionBankSystem.js"></script>*@
    <script>
    </script>
}
