@*@model IList<MSITTeam1.ViewModels.CQuestionBankViewModel>*@
@model MSITTeam1.ViewModels.CQuestionBankViewModel
@addTagHelper *, MSITTeam1
@using System.Collections.Generic;

@{
    ViewData["Title"] = "List";
}

@section Style{
    @*<link href="~/css/SearchBar.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="~/css/fontawesome-all.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        td {
            vertical-align: middle !important;
        }
        /*        .container {
            max-width: 1500px !important;
        }*/
        /*-----------------------------Card-----------------------------*/
        .card-body {
            padding: 0;
        }

        .card {
            background: #ffffff;
            margin: 7.5px 0;
            padding: 20px;
            border: 1px solid #e7e7e7;
            border-radius: 25px;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
            transition: all 0.5s ease-in;
        }

        .card-title {
            font-weight: 400;
            font-size: 18px;
            margin: 0;
            text-align: right;
            color: darkblue;
        }

        .p-10 {
            padding: 10px;
        }

        .dd {
            position: relative;
            display: block;
            margin: 0 0 12px 0;
            padding: 0;
            width: 100% !important;
            max-width: 100%;
            list-style: none;
            font-size: 13px;
            line-height: 20px;
        }

        .dd-handle {
            display: block;
            height: 35px;
            margin: 5px 0;
            padding: 8px 10px;
            color: black;
            text-decoration: none;
            font-weight: normal;
            border: 0px solid #e5e5e5;
            background: #ffffff;
            box-sizing: border-box;
            font-size: 15px;
            color: dimgray;
            -moz-box-sizing: border-box;
        }

            .dd-handle:hover {
                color: #2ea8e5;
                background: #fff;
            }

        #title-font {
            font-size: 15px;
        }

        #editBlock {
            text-align: right;
        }

        #container-flex {
            display: flex;
        }
    </style>
}
<div class="container" style="padding:40px;">
    <h1>題目列表</h1>
    <p>
        <a asp-action="Create" data-toggle="modal" data-target="#questionCreate">新增</a>
    </p>

    <div style="margin:20px">
        <form method="post" action="~/QuestionBank/List" enctype="application/x-www-form-urlencoded">
            <div class="form-group row justify-content-around py-4">
                <div class="row">
                    <div class="col">
                        @Html.DropDownList("Subjects", (IEnumerable<SelectListItem>)ViewBag.subjectItems, "請選擇類別", new { @class = "form-control" })
                    </div>
                    <div class="col">
                        @Html.DropDownList("Type", (IEnumerable<SelectListItem>)ViewBag.typeItems, "請選擇題目類型", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group input-group-rounded">
                        <input type="text" placeholder="查詢關鍵字" name="keyword" class="form-control" id="searchBarSim">
                        <span class="input-group-btn"><button class="btn btn-primary btn-group-right" type="submit"><i class="fas fa-search"></i></button></span>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <div>
        <vc:question-bank-list></vc:question-bank-list>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="questionCreate" tabindex="-1" aria-labelledby="questionCreate" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">資料修改</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <vc:question-bank-create></vc:question-bank-create>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="https://your-site-or-cdn.com/fontawesome/v6.1.1/js/all.js" data-auto-replace-svg="nest"></script>
}
