@model IEnumerable<MSITTeam1.ViewModels.CStudentResumeViewModel>
@{
    ViewData["Title"] = "ShowResumeImage";
}

<style>
     .resumeflip {
        margin: 0px;
        padding: 5px;
        text-align: center;
        background: #1e3c84;
        color: white;
        cursor: pointer;
    }

    .resumepanel {
        margin: 0px;
        padding: 5px;
        background: #EEE;
        border: solid 1px #c3c3c3;
        display: none;
    }
</style>
<h3>履歷瀏覽</h3>
<br/>

<div class="container mt-3">
    
    <div >
        
        @{int count=0;
            foreach (var item in Model) 
            {
            count++;
        
            <div class="resumeflip" id="flip@(count)" onclick="togglefunction(@count)" style="margin-bottom: 1rem;">
            <label > @Html.DisplayNameFor(model => model.ResumeName)：</label>
            <span>@Html.DisplayFor(modelItem => item.ResumeName)</span>
            </div>
            <div class="resumepanel" id="panel@(count)" style="display:none;">
        
                <img src="data:image/gif;base64,@item.ResumeImage"/>
      
            </div>
            }
        }
    </div>
</div>

<script src="~/js/jquery.js"></script>
    <script>

    function togglefunction (id) {
        $("#panel"+id).slideToggle("fast");
    };

    </script>

